<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>crateria</vendor>
  <vendor_url>https://github.com/crateria/trance</vendor_url>

  <action id="io.github.ubermetroid.trance.configure">
    <description>Modify Trance screensaver configuration</description>
    <message>Authentication is required to modify Trance screensaver settings.</message>
    <defaults>
      <allow_any>auth_self_keep</allow_any>
      <allow_inactive>auth_self_keep</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
</policyconfig>
